/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px; /* Adjust padding as needed */
    width : 100%;
  }
  
  /* Adjust width and max-width as per your design */
  #screenTimeChart {
    width: 90%; /* Adjust width percentage or fixed width as needed */
    max-width: 600px; /* Adjust maximum width */
  }
  
  #todo-container {
    width: 90%; /* Adjust width percentage or fixed width as needed */
    max-width: 600px; /* Adjust maximum width */
    /* Add additional styling as per your design */
  }

  
  /* Header Styles */
  h1 {
    margin-top: 20px;
    color: #4CAF50;
  }
  
  h2 {
    margin: 20px 0 10px 0;
    color: #4CAF50;
  }
  
  /* Chart Container */
  #screenTimeChart {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
  }
  
  /* To-Do List Container */
  #todo-container {
    width: 90%;
    max-width: 600px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  /* Input Styles */
  input[type="text"], input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #add-task {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #add-task:hover {
    background-color: #45a049;
  }
  
  /* Task List Styles */
  #task-list {
    list-style-type: none;
    padding: 0;
  }
  
  #task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  #task-list li button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #task-list li button:hover {
    background: darkred;
  }
  